<div>
    <div class="rcmI18n">
        <div ng-controller="rcmTranslations" class="modal-dialog">
            <div class="modal-content container-fluid">

                <div class="row modal-header">
                    <div class="col-sm-12">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h1 class="modal-title"
                            id="myModalLabel">{{"Translations"|translate}}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <select class="form-control"
                                    ng-model="selectedLocale"
                                    ng-options="key as value for (key , value) in locales"
                                    ng-change="OpenLocale()"
                                    ng-disabled="loading">
                                <option value="">
                                    Please select language
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <div class="input-group">
                                <input ng-model="messageQuery"
                                       ng-disabled="loading"
                                       class="form-control"
                                       type="text"
                                       placeholder="search"
                                />

                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group">
                                <select class="form-control"
                                        name="i18nMessageFilterType"
                                        id="i18nMessageFilterType"
                                        ng-disabled="loading"
                                        ng-options="option.value as option.label for option in filterTypes"
                                        ng-model="filterType">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="loadBar">
                            <div>
                                <i class="glyphicon glyphicon-refresh loading"
                                   ng-class="{'active': loading}"></i>
                            </div>
                        </div>
                        <div id="transMesages"
                             ng-hide="loading"
                             class="message-table">

                            <div class="message-row titleTranslations">
                                <div class="message-cell col-1">
                                    Default Message
                                </div>
                                <div class="message-cell col-2">
                                    Translated Message
                                </div>
                            </div>

                            <div class="message-row"
                                 ng-repeat="message in messages | rcmi18nMessageFilter:messageQuery | rcmi18nMessageFilterTypeFilter:filterType">

                                <div class="message-cell col-1 default-text">
                                    {{message.defaultText}}
                                </div>

                                <div class="message-cell col-2">
                                    <div class="translation">
                                        <div class="message-editor">
                                            <div class="message">
                                                <div class="editor-link form-group"
                                                     ng-class="{'error': !message.text}">
                                                    <textarea class="form-control"
                                                              ng-model="message.text"
                                                              ng-change="messageChange(message)"></textarea>
                                                    <div class="label label-warning"
                                                         ng-hide="message.hasTranslation">
                                                        <i class="glyphicon glyphicon-warning-sign"></i> Translation Missing
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="toolbars">
                                            <div class="toolbar-save"
                                                 ng-show="message.dirty">
                                                <button id="button-{{message.id}}"
                                                        ng-click="saveText(message)"
                                                        class="btn btn-primary btn-sm">
                                                    <span class="glyphicon glyphicon-save"></span>
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">{{"Close"|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
